<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cph.vhr.mapper.MailSendLogMapper">
    <insert id="insertMailSendLog" parameterType="org.cph.vhr.model.MailSendLog">
        INSERT INTO mail_send_log (msgId, empId, routeKey, exchange, tryTime, createTime)
        VALUES
	    (#{msgId}, #{empId}, #{routeKey}, #{exchange}, #{tryTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <select id="listMailSendLogByStatus" resultType="org.cph.vhr.model.MailSendLog">
        select * from mail_send_log where status = 0 and tryTime &lt; sysdate()
    </select>
</mapper>